In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv('fin.csv')
df.head()

,Unnamed: 0,sampling_date,state,location,type,so2,no2,rspm,spm,location_monitoring_station,si,ni,rpi,spi,AQI
0,0,February - M021990,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",4.8,17.4,108.832784,220.78348,NaN,6.000,21.750,109.610928,180.52232,180.52232
1,1,February - M021990,Andhra Pradesh,Hyderabad,Industrial Area,3.1,7.0,108.832784,220.78348,NaN,3.875,8.750,109.610928,180.52232,180.52232
2,2,February - M021990,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",6.2,28.5,108.832784,220.78348,NaN,7.750,35.625,109.610928,180.52232,180.52232
3,3,March - M031990,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",6.3,14.7,108.832784,220.78348,NaN,7.875,18.375,109.610928,180.52232,180.52232
4,4,March - M031990,Andhra Pradesh,Hyderabad,Industrial Area,4.7,7.5,108.832784,220.78348,NaN,5.875,9.375,109.610928,180.52232,180.52232

In [10]:
df['AQI']=df['AQI'].astype(int)
type(df['AQI'])

pandas.core.series.Series

In [18]:
def calculate_aqi(AQI):
    condition='OK'
    if(AQI<=50):
     condition='Good'
    elif(AQI>51 and AQI<100):
     condition='Moderate'
    elif(AQI>=100 and AQI<=150):
      condition='Unhealthy'
    elif(AQI>=151 and AQI<=200):
     condition='Very Unhealthy'
    else:
     condition='Hazardous'
    return condition

In [20]:
df['Condition']=df['AQI'].apply(calculate_aqi)
data= df[['AQI','Condition']]
data.head()
df.head()

,Unnamed: 0,sampling_date,state,location,type,so2,no2,rspm,spm,location_monitoring_station,si,ni,rpi,spi,AQI,Condition
0,0,February - M021990,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",4.8,17.4,108.832784,220.78348,NaN,6.000,21.750,109.610928,180.52232,180,Very Unhealthy
1,1,February - M021990,Andhra Pradesh,Hyderabad,Industrial Area,3.1,7.0,108.832784,220.78348,NaN,3.875,8.750,109.610928,180.52232,180,Very Unhealthy
2,2,February - M021990,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",6.2,28.5,108.832784,220.78348,NaN,7.750,35.625,109.610928,180.52232,180,Very Unhealthy
3,3,March - M031990,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",6.3,14.7,108.832784,220.78348,NaN,7.875,18.375,109.610928,180.52232,180,Very Unhealthy
4,4,March - M031990,Andhra Pradesh,Hyderabad,Industrial Area,4.7,7.5,108.832784,220.78348,NaN,5.875,9.375,109.610928,180.52232,180,Very Unhealthy

In [22]:
df.to_csv('cond.csv')