In [12]:
import pandas as pd

df=pd.read_csv('plmap.csv')
df.head()

,Unnamed: 0,Unnamed: 0.1,state,location,type,so2,no2,rspm,spm,pm2_5,...,si,ni,rpi,spi,AQI,Condition,latitude_long,latitude,longitude,Number
0,0,8,Andhra Pradesh,Hyderabad,RRO,6.3,11.5,108.833091,270.0,40.791467,...,7.875,14.375,109.611030,220.00,220,Hazardous,17.387140,17.387140,78.491684,2
1,2279,8441,Assam,Guwahati,RRO,15.7,46.1,108.833091,330.0,40.791467,...,19.625,90.125,109.611030,280.00,280,Hazardous,26.148043,26.148043,91.731377,1
2,3030,13158,Assam,Silchar,RO,5.8,16.3,207.000000,383.0,40.791467,...,7.250,20.375,142.333333,341.25,341,Hazardous,24.833946,24.833946,92.779282,40
3,3039,14662,Chandigarh,Chandigarh,I,11.3,29.7,108.833091,318.0,40.791467,...,14.125,37.125,109.611030,268.00,268,Hazardous,30.741482,30.741482,76.768066,4
4,4344,21134,Delhi,Delhi,R,8.6,16.2,108.833091,323.0,40.791467,...,10.750,20.250,109.611030,273.00,273,Hazardous,28.653229,28.653229,77.308601,3

In [13]:
import numpy as np
lati=[]
for x in df['latitude']:
    lati.append(x)
longi=[]
for x in df['longitude']:
    longi.append(x)

In [14]:
lati

[17.38714,
 26.148043,
 24.833946,
 30.741482,
 28.653229,
 23.033863,
 28.205523,
 30.8381,
 12.972442,
 9.939093,
 18.516726,
 21.146633,
 19.997454,
 19.970324,
 19.21833,
 19.07609,
 24.813967,
 30.900965000000006,
 31.326015,
 30.663738,
 25.1695181,
 26.92207,
 27.560932,
 24.879999,
 26.263863,
 24.57127,
 13.067439,
 27.17667,
 26.85,
 26.449923,
 28.535517,
 28.6692,
 22.59577,
 22.572645]

In [15]:
longi

[78.49168399999998,
 91.731377,
 92.779282,
 76.768066,
 77.308601,
 72.585022,
 76.795311,
 76.9585,
 77.58064300000002,
 76.270523,
 73.856255,
 79.08886,
 73.789803,
 79.30336,
 72.978088,
 72.877426,
 93.950279,
 75.857277,
 75.57618000000002,
 76.300042,
 75.854838,
 75.778885,
 76.625015,
 74.629997,
 73.008957,
 73.691544,
 80.237617,
 78.008072,
 80.949997,
 80.33187099999998,
 77.391029,
 77.4538,
 88.263641,
 88.363892]

In [16]:
import gmplot 
  
gmap3 = gmplot.GoogleMapPlotter(30.3164945, 
                                78.03219179999999, 8) 
gmap3.heatmap( lati, longi ) 
  
gmap3.draw( "map.html" )

In [17]:
import pickle

In [ ]:

from sklearn.externals import joblib